<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="student" class="com.learnboot.demo.test.spring.ioc.Student"
        init-method="init" destroy-method="myDestroy">

        <property name="name" value="fang"/>
        <property name="id" value="555"/>
    </bean>

    <bean id="teacher" class="com.learnboot.demo.test.spring.ioc.Teacher"
          >

        <property name="course" value="计算机"/>

    </bean>

    <bean class="com.learnboot.demo.test.spring.ioc.MyBeanPostProcessor" />
    <bean class="com.learnboot.demo.test.spring.ioc.MyInstantiationAwareBeanPostProcessor" />
</beans>